[submodule "bash-wakatime"]
	path = bash-wakatime
	url = https://github.com/gjsheep/bash-wakatime.git
[submodule "golang-updater"]
	path = update-golang
	url = https://github.com/udhos/update-golang.git
[submodule "nixos"]
	path = nixos
	url = https://gitlab.com/ajhalili2006-experiments/nixos-config-hub
[submodule "nanorc-highlighting-improvements"]
	path = config/nanorc/highlighting
	url = https://github.com/scopatz/nanorc
